body {
    margin: 8px;
}

header select {
    position: absolute;
    left: 25px;
}

select {
    border-radius: 50px;
}

header {
    position: sticky;
    top:10px;
    background-color: rgb(200, 196, 192);
    color: rgb(106, 104, 104);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 20px 0 ;
    padding: 5px;
}

h1 {
    text-align: center;
}

.tickets {
    color: black;
}